@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary"> <div class="panel-heading"> <h3 class="panel-title">Panel title</h3> </div> <div class="panel-body"> Panel content </div> </div>
    </div>
    <div class="col-md-4">
        <h2>Button Samples</h2><br/>
        <button type="button" class="btn">Basic</button>
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button><br />
    </div>
    <div class="col-md-4">
        <h2>Notificaciones WebAPI</h2>

        <div id="Notifications" >
            <div class="alert alert-info">
                <i class="glyphicon glyphicon-refresh"></i>
                Cargando Notificaciones...
            </div>            
        </div>
    </div>


    @section Scripts {
    <script>
        $(document).ready(function () {
            setTimeout(function(){
                $.get("api/Notifications", function (r) {
                    $("#Notifications").html(" <div class='alert alert-success'><strong>Success!</strong> "+r+"</div>");
                });
            }
            , 3000);
    });
    </script>
    }


</div>